{% extends 'base.html.twig' %}

{% block body %}
    <h3>Ajouter une personne</h3>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.nom) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
